@import "../abstract/variaveis";

.banner {
  background: url("../img/banner.jpeg") 27% center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  &_conteudo {
    padding: 1.5rem;
    background: $cor-terciaria;
    opacity: 0.9;
    border-radius: 45px;
    margin: 0 1rem;
    @include for-tablet-only {
      padding: 3rem;
    }
  }
  &_titulo {
    font-size: $tamanho-do-texto;
    color: $cor-primaria;
  }
  &_subtitulo {
    font-size: calc($tamanho-do-texto / 2);
    color: $cor-secundaria;
  }
}
