@import "../abstract/variaveis";

.navbar {
  text-align: center;
  &_item {
    display: inline-block;
    padding: 1rem;
  }
  &_link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: $cor-primaria;
    &:hover {
      border-bottom: 2px solid $cor-secundaria;
    }
  }
}
