html, body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  text-align: center;
}
.navbar_icone {
  width: 50px;
  padding: 0.5rem 0;
  font-size: 35px;
  margin-left: auto;
  display: block;
  position: relative;
  z-index: 2;
  color: #293462;
}
.navbar_icone:hover {
  color: #D61C4E;
}
@media screen and (min-width: 768px) {
  .navbar_icone {
    display: none;
  }
}
.navbar_lista {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  z-index: 1;
  width: 100%;
  top: -100%;
  left: 0;
  transition: top 1s;
}
.navbar_lista-ativo {
  top: 50px;
}
@media screen and (min-width: 768px) {
  .navbar_lista {
    position: static;
    flex-direction: row;
    justify-content: center;
  }
}
.navbar_link {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #293462;
}
.navbar_link:hover {
  border-bottom: 2px solid #D61C4E;
}

.banner {
  background: url("../img/banner.webp") 27% center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner_conteudo {
  padding: 1.5rem;
  background: #FEB139;
  opacity: 0.9;
  border-radius: 45px;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .banner_conteudo {
    padding: 3rem;
  }
}
.banner_titulo {
  font-size: 3rem;
  color: #293462;
}
.banner_subtitulo {
  font-size: 1.5rem;
  color: #293462;
}

.servicos {
  margin: 40px;
}
@media screen and (min-width: 768px) {
  .servicos {
    margin: 80px;
  }
}
.servicos_titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .servicos_titulo {
    margin-bottom: 80px;
  }
}
.servicos_subtitulo {
  font-size: 1.2rem;
  color: #D61C4E;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .servicos_subtitulo {
    margin: 1rem;
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    align-items: flex-start;
  }
}

.card {
  width: 100%;
  max-width: 360px;
  text-align: center;
}
.card_titulo {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #293462;
}
.card_texto {
  font-size: 1rem;
  font-weight: 300;
  color: #293462;
  line-height: 1.25rem;
}
.card_moldura {
  padding-bottom: 2px;
  border-bottom: 6px solid #D61C4E;
}
.card_imagem {
  width: 100%;
  height: auto;
}

.cupom {
  background-color: #FEB139;
  padding: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cupom {
    padding: 4rem;
  }
}
.cupom_texto {
  color: #293462;
  margin: 2rem 0;
  font-size: 1.7647058824rem;
}
.cupom_etiqueta {
  display: block;
  font-size: 500;
  font-size: 1.3333333333rem;
  margin-bottom: 1rem;
  color: #293462;
}
.cupom_campos {
  margin: 0 auto;
  width: 100%;
  max-width: 575px;
  border-radius: 20px;
  border: 4px solid white;
  background: white;
  display: inline-block;
}
.cupom_campo {
  border-radius: 20px;
  border: none;
  width: 100%;
  outline: none;
  text-align: center;
  font-size: 26px;
}
.cupom_campo:hover, .cupom_campo:focus-within {
  box-shadow: 1px 1px 8px 1px #293462;
  outline: none;
}
.cupom_botao {
  display: block;
  text-transform: uppercase;
  margin: 0.75rem auto 0 auto;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #293462;
  color: #FEB139;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #293462;
  border-radius: 40px;
}
.cupom_botao:hover {
  background-color: #D61C4E;
  border-color: #FEB139;
}

.curiosidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .curiosidades {
    padding: 4rem;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.curiosidades_imagem {
  width: 100%;
  max-width: 500px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .curiosidades_imagem {
    width: 50%;
  }
}
.curiosidades_titulo {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #293462;
}
.curiosidades_subtitulo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #293462;
  padding-bottom: 5px;
  border-bottom: 6px solid #D61C4E;
}
.curiosidades_texto {
  font-size: 1rem;
  line-height: 1.25rem;
}

.rodape {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #293462;
  color: #FEB139;
  padding: 1.2rem;
  background: linear-gradient(to left, #D61C4E, #293462, #293462, #293462, #293462, #D61C4E);
}
.rodape_icone {
  color: red;
}/*# sourceMappingURL=style.css.map */