$cor-principal: #fa58b6;
$cor-secundaria: #270082;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin cor-e-texto($cor-de-fundo, $cor-de-texto) {
  width: 50%;
  background: $cor-de-fundo;
  .texto {
    margin-top: 40%;
    text-align: center;
    font-size: 150px;
    color: $cor-de-texto;
  }
}

body {
  @include reset;
}

.container {
  display: flex;
  height: 100vh;
  .esquerda {
    @include cor-e-texto($cor-principal, $cor-secundaria)
  }
  .direita {
    @include cor-e-texto($cor-secundaria, $cor-principal)
  }
}
